/*font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Quicksand', sans-serif;*/


body {
  background: #dedede;
  color: #222;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  
}

#clock {
  font-size: 100px;
}